<h1> You hire the Mafia.</h1>
<h3>When they return the leader says:</h3><hr>  
<h2>"<%= "#{@game.borrower} #{@message}" %>"</h2><hr>

<%= link_to 'Retrieve Game From Mafia', return_game_path(@game), class: 'btn btn-success', method: :post %>