<h1> You hired a group of bounty hunters to get your game back.</h1>
<h3>When they return the leader says:</h3>  
<h2>"<%= "#{@game.borrower} #{@message}" %>"</h2>

<%= link_to 'Retrieve Game From Bounty Hunter', return_game_path(@game), class: 'btn btn-success', method: :post %>