<% @games.each do |game| %>
  <h2><%= game.title %></h2>
  <h3><%= "Borrowed by #{game.borrower} on #{game.updated_at.strftime('%B %-d, %Y')}" %></h3>
  <%= link_to "View Game", game_path(game.id), class: "btn btn-primary" %>
  <hr>
<% end %>