<nav class="navbar navbar-inverse">
  <div class="container">
    <%= link_to "All Games", games_path, class: "btn btn-default" %>
    <%= link_to "New Game", new_game_path, class: 'btn btn-default' %>
  </div>
</nav>